<nav class="navbar navbar-expand bg-body-tertiary rounded-3 px-3">
  <a class="navbar-brand" href="{{ '/' | relative_url }}">
    <img src="{{ '/icon.png' | relative_url }}" alt="logo" class="img-fluid" width="144" height="18">
  </a>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Main</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ '/pages/projects.html' | relative_url }}">Projects</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ '/pages/cv.html' | relative_url }}">CV</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ '/pages/contact.html' | relative_url }}">Contact</a></li>
  </ul>
</nav>
